<div class="weather-widget">
    {% if weatherInfo.message %}
        <p class="error">{{ weatherInfo.message }}</p>
    {% else %}
        <div class="container icon-{{ weatherInfo.weather[0].icon }}">
            <h3>{{ weatherInfo.name }}</h3>
            <p class="temp">{{ weatherInfo.main.temp }} °</p>
            <p class="description">{{ weatherInfo.weather[0].main }}</p>
        </div>
    {% endif %}
    </div>